container_commands:
 04_copy_script_to_home:
  command: "cp /tmp/deployment/application/ROOT/.ebextensions/*.sh /home/ec2-user/"
 05_initialize_count_file:
  command: "echo 0 > /home/ec2-user/lineCount"  
 06_cleanup_cron:
  command: "bash /home/ec2-user/cleanupCron.sh"   
 07_add_to_cron:
  command: "crontab /tmp/deployment/application/ROOT/.ebextensions/cron.txt"
  
